{% extends 'Admin/admin_index_sub.html' %}
{% block body %}
<body>
<table border="1">
    <tr>
        <td><a href="/admin_home">Home</a> </td>
    </tr>
    <tr><td><a href="/category_add">New Category</a></td></tr>
    <tr><td><a href="/view_category_management">View Category</a></td></tr>
    <tr><td><a href="/store_approve_reject">View Store And Approval</a></td></tr>
    <tr><td><a href="/view_approved_store">Approved Store</a></td></tr>
    <tr><td><a href="/view_reject_store">Rejected Store</a></td></tr>
    <tr><td><a href="/view_users">Users</a></td></tr>
    <tr><td><a href="/view_store_booking_report">View Store Booking Report</a></td></tr>
    <tr><td><a href="/view_complaints_about_store"> Complaints</a></td></tr>
    <tr><td><a href="/store_rating_report">Rating</a> </td></tr>
    <tr><td><a href="/">Log Out</a> </td></tr>
</table>
</body>
{% endblock %}