<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table border="1">
    <tr>
        <td><a href="/store_home">Home</a> </td>
    </tr>
    <tr><td><a href="/store_view_profile">Profile</a></td></tr>
    <tr><td><a href="/store_add_product">Add Product</a></td></tr>
    <tr><td><a href="/store_view_product">View Product</a></td></tr>
    <tr><td><a href="/store_view_order_and_confirmation">Order And Conformation</a></td></tr>
    <tr><td><a href="/store_view_order_history">Order History</a></td></tr>
    <tr><td><a href="/store_payment">Payment</a></td></tr>
    <tr><td><a href="/store_chat_with_customer">Chat With customer</a></td></tr>
    <tr><td><a href="/store_view_rating">Rating</a></td></tr>
    <tr><td><a href="/store_product_review">product review</a></td></tr>
</table>
</body>
</html>